.textCenteredIndex { 
    text-align: center;
}

div{
    border: 0.5px solid Black;
    margin:0.5em 0em;
}
label{
    width: 100%;
    text-align: center;
}

#main-content{
    margin: 0em;
    border: 0px solid transparent;
}